
#promo .jumbotron {
  border-radius: 30px;
  padding: 40px;
}

#banner {
  width: 100%;
  height: 500px;
  background-image: url(../../assets/img/header-bg.jpg);
  background-position: center center;
  background-size: cover;
}



/* #card{

  padding: 25x;
  margin: 15px;
  max-width: 70%;
  text-align: center;
  margin-left: auto;
    margin-right: auto;
  } */

.wrapper-card{
  background-color: #fff;
  border: 2px;
  border-radius: 20px;
 /* width: auto; */
  height: 95%;
  padding: 10px;
  margin: 1px;
  transition: all 0.25s;
  box-shadow: 0 4px 8px 0 rgba(219, 12, 12, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  cursor: pointer;
 
  text-align: center;
}

.wrapper-card1{
  background-color: #fff;
  border: 2px;
  border-radius: 20px;
 /* width: auto; */
  height: 95%;
  padding: 10px;
  margin: 1px;
  transition: all 0.25s;
  box-shadow: 0 4px 8px 0 rgba(219, 12, 12, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  cursor: pointer;
 
  text-align: center;
}




/* .wrapper-card img{
  width: 360px;
  height: 220px;
  text-align: center;
  border: 2px;
  border-radius: 20px;
} */


.wrapper-card:hover{
  transform: translateY(-15px);
  box-shadow: 0 12px 16px rgba(0, 0, 0, 0.2);
}



.reglamento{

  list-style: disc;

}



#cont {
  max-width: 800px;
  margin: 0 auto;
  font-size: 20px;
  text-align: center;
  padding: 50px 0;
  align-items: center;
}

#cont2 {
  
  margin: 0 auto;
  font-size: 20px; 
  padding: 50px 0;
}



.wrapper-card:hover{
  transform: translateY(-15px);
  box-shadow: 0 12px 16px rgba(0, 0, 0, 0.2);
}

.logodu{
  display:block;
  margin-left: auto;
  margin-right: auto;

}


body {
  font-family: sans-serif;
  font-family: 'Open Sans', sans-serif;
  height: 100%;
  width: 100%;

}



